[Unit]
Description=zigbee2mqtt
After=network.target network.target createtmpfs.service loxberry.service

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/opt/zigbee2mqtt
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=loxberry

[Install]
WantedBy=multi-user.target
